name: main-build
on:
    push:
        branches: [cd]
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm
            - run: npm ci
            - name: create .env
              run: |
                  touch .env
                  echo "API_HOST=${{vars.API_HOST}}" > .env
            - run: npm run build
            - uses: actions/upload-artifact@v4
              with:
                  name: extension-build
                  path: |
                      dist/**
                  retention-days: 30
    upload:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Upload to Chrome Web Store
              uses: mobilefirstllc/cws-publish@latest
              with:
                  action: "upload" # one of: upload, publish, testers
                  client_id: ${{ secrets.CLIENT_ID }}
                  client_secret: ${{ secrets.SECRET }}
                  refresh_token: ${{ secrets.TOKEN }}
                  extension_id: "lgcmjfabbfbbnjdbemmnbedmlofkcdaf"
                  zip_file: "dist/**"
