name: main-build
on:
    push:
        branches: [build-setup]
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm
            - run: npm ci
            - name: create .env
              run: |
                  touch .env
                  echo "API_HOST=${{vars.API_HOST}}" > .env
            - run: npm run build
            - name: Archive dist
              run: cd dist && zip -r ../etension.zip
            - uses: actions/upload-artifact@v4
              with:
                  name: extension-build
                  path: |
                      dist/**
                      extension.zip
                  retention-days: 30
